     /* universal */
    :root{
        --dark-limegreen: rgb(57, 209, 163);
        --dark-falsa:rgb(81, 81, 199);
        --primary-black:black;
        --primary-lightblack: rgb(73, 71, 71);
        --primary-white: #fff;
    }
    
    *,
    *::before,
    *::after{
        box-sizing: inherit;
    }
    html{
        box-sizing: border-box;
        
    }
    body{
        font-family: "Cabin", sans-serif;
        line-height: 1.6;
        font-size: clamp(0.8rem, 2vw, 1.2rem);   
        margin: 0;
        padding: 0;
    }
      /* accessaries */
    .container
    {
        width: 80%;
        margin: 0 auto;
    }
    .split{
        display: flex;
        flex-direction: column;
    }
    .split__logos{
        
    }
    @media (min-width: 1000px){
        .split{ 
            flex-direction: row;
        }
        .container {
            width: min(85%, 40rem);
        }    
    }
    
      /* header */
    
    .header{
        text-align: center;  
        background: url(/Resources/img/bg-header-mobile.png)no-repeat  50%/cover;
    }
    @media(min-width:700px){
        .header{
            background: url(/Resources/img/bg-header-desktop.png) no-repeat 50%/cover;
        }
    } 
       
       /* buttons */
    
    .button {
        color: var(--clr-primary);
        width: 150px;
        padding: 0.8em 0;
        border-radius: 100px;
        margin: 1.5em auto 0;
        text-decoration: none;
        color: white;
    }
    @media (min-width:700px){
        .button{
            width: 250px;
        }
    }
    .buttons{
        padding-bottom: 2rem;
    }
    .button--green {
        background-color: rgb(57, 209, 163);
    }
    .button--blue {
        background-color: rgb(81, 81, 199);
    }  
    @media (min-width: 700px){
        .buttons{
            width: 85%;
            margin: 0 auto; 
        }  
    }

    .container_row{
        margin-top: 8rem;
        align-items: center;

    }
    @media (min-width: 700px){     
        .container_row{
           display: flex;
           width: 95%;
           gap: 10%;
        }
    }
    
       /* article */
    article{
        text-align: center;
    }
    
    .attributes{
        padding-top: 2rem;
    }
    .attributes__row{
        padding-bottom: 1rem;
    }
    @media (min-width:700px){
        .attributes_review{
            width: 80%; 
            margin-top: 6rem;          
        }
        .attributes_review .attributes{
             display:flex;
             justify-content: space-between;
             align-items: center;
         }
         .attributes_review .attributes__row{
            width:24%;
         }
    }
    .split__logos{
        align-items: center;
        margin: 3rem auto;
    } 
    .firm__img{
        margin: 2rem;
    }
    @media(min-width:700px){
        .split__logos{
            width: 85%;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            margin-top: 10rem;
        }
    } 
    /* snippets */
    .snippet {
        margin: 9rem 2rem 3rem;        
    }
    @media(min-width:700px){
        .snippet2{
            margin-top: 2rem;
        }
    }    
      /* General Styles Typography */
      /* images */
    img{
        width: 100%;
    }
    
    .logo__header{
        margin-top: 5rem;
    }
    .auto-adjust{        
        width: auto;
    }  
    .full_layout_image{
        margin-top: 2.5rem;
    } 
    .firm__img{
        width: 105px;  
    }
    .computer_image_div{
        align-items: center;
    }
     @media(min-width:700px)
     {
        .full_layout_image img{
            width: 40rem;        
        } 
     }  
      /* headings */    
     h1,h2,h3{
        line-height: 1.3;
     } 

    h1{
        margin-top: 3rem;
        font-size: 2.4em;
    }

    /* paragraph */

    p{
        margin-top: .5rem;
        opacity: .5;
    }
    
    /* footer */
    footer{
        background-color: #f5f5f5;
        margin-top: 8rem                                                               
    }
    .footer__links a{
        text-decoration: none;
        text-align: center;
    }
    .footer__links li{
        padding: 0 2rem;       
    }
    .footer__links ul{
        list-style: none;
        display: flex;
        align-items: center;
    } 
    .footer__img img{
        width: 35px;
        margin-left: 5rem;
        align-items: center;
    }
    .footer__img{
         align-items: center;
         display: flex;
    }
    .footer__flex{
        display: flex;
    }
    .footer__links{
       
    }
    @media ( max-width:700px){
        .footer__links ul,.footer__flex{
            flex-direction: column;
        }
        .footer__flex{
            justify-content: center;
            align-items: center;
        }
        .footer__img img{
            margin-left: 2.5rem;
        }
        .footer__links li{
            padding: .5rem 0;
        }
    }
  
    
    
        